.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md relative overflow-hidden;
}

.cardtoonImage {
  background: url("../public/images/img2.png") no-repeat;
  background-position: 65% 100px;
  z-index: 1;
  @apply absolute bottom-0 right-0 left-0 top-0 w-full h-full bg-cover;
}

.cloud_one {
  background: url("../public/images/cloud_1.png") no-repeat;
  z-index: 2;
  transform: translateX(290%);
  /*animation: cloud_1 25.5s ease-in 5.9s infinite;*/
  @apply absolute top-[65%] left-[10%] w-[180px] h-[100px] bg-contain;
}

.cloud_two {
  background: url("../public/images/cloud_2.png") no-repeat;
  z-index: 0;
  transform: translateX(290%);
  /*animation: cloud_2 18.5s ease-in 0.9s infinite;*/
  @apply absolute top-[49%] left-[50%] w-[200px] h-[100px] bg-contain;
}

@keyframes cloud_1 {
  0% {
    transform: translateX(290%);
  }
  100% {
    transform: translateX(-250%);
  }
}
@keyframes cloud_2 {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-250%);
  }
}
